*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(back.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.walk{
	background-image: url(w.png);
	width: 200px;
	height: 256px;
	position: absolute;
	top: 400px;
	animation: walk 1.5s steps(6) infinite, walking 10s linear infinite;
}

@keyframes walk{
	0%{
		background-position: 0;
	}
	100%{
		background-position: 1181px;
	}
}

@keyframes walking{
	0%{
		transform: translateX(-100px);
	}
	100%{
		transform: translateX(1100px);
	}
}